/*
COLORES:
    gris oscuro: #1e2429
    gris claro: #c0c5ce
    naranja: #c45a12
    verde: #396c03
*/

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.travel-button {
    -fx-font: 24px 'VT323', monospace;
    -fx-text-fill: #1e2429;
    -fx-padding: 8px 100px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #c0c5ce;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
    -fx-max-width: 420px;
}

.travel-button:hover {
    -fx-font: 24px 'VT323', monospace;
    -fx-text-fill: #1e2429;
    -fx-padding: 8px 100px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
    -fx-max-width: 420px;
}

.travel-button:pressed {
    -fx-font: 24px 'VT323', monospace;
    -fx-text-fill: #1e2429;
    -fx-padding: 8px 100px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #396c03;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 5, 5);
    -fx-max-width: 420px;
}

.travel-box {
    -fx-pref-width: 500;
    -fx-pref-height: 500;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.warrant-box {
    -fx-pref-width: 500;
    -fx-pref-height: 500;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-spacing: 20px;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.time-box {
    -fx-pref-width: 500;
    -fx-pref-height: 80;
    -fx-alignment: center;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.button-box {
    -fx-pref-width: 800;
    -fx-pref-height: 200;
    -fx-alignment: center;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    -fx-spacing: 20px;
}

.name-box {
    -fx-background-image: url('images/paper.png');
    -fx-pref-width: 450px;
    -fx-pref-height: 575px;
    -fx-background-repeat: stretch;
    -fx-alignment: top-center;
    -fx-background-insets: 60px;
    -fx-padding: 20px;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.map {
    -fx-pref-width: 810;
    -fx-pref-height: 455;
    -fx-background-image: url("/images/CarmenMap.jpg");
    -fx-background-repeat: stretch;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.screen {
    -fx-pref-width: 810;
    -fx-pref-height: 455;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.right-side-box {
    -fx-background-color: #c0c5ce;
    -fx-spacing: 10px;
}

.city-image-box {
    -fx-alignment: center;
    -fx-pref-width: 500px;
    -fx-pref-height: 500px;
    -fx-padding: 100px;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.bottom-box {
    -fx-alignment: center;
    -fx-pref-width: 420;
    -fx-pref-height: 200;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.combo-box {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.combo-box .arrow {
    -fx-background-color: #1e2429;
}

.combo-box .text-field {
    -fx-prompt-text-fill: #1e2429;
}

.combo-box .text-field:focused {
    -fx-prompt-text-fill: transparent ;
}

.show-cities-box {
    -fx-alignment: center;
    -fx-spacing: 30px;
    -fx-padding: 5px;
}

.central-container {
    -fx-alignment: center;
    -fx-spacing: 20px;
    -fx-padding: 25px;
    -fx-background-color: #c0c5ce;
}

.emit-button {
    -fx-font: 24px 'VT323', monospace;
    -fx-alignment: center;
    -fx-text-fill: #1e2429;
    -fx-padding: 6px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #c0c5ce;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
}

.emit-button:hover {
    -fx-font: 24px 'VT323', monospace;
    -fx-alignment: center;
    -fx-text-fill: #1e2429;
    -fx-padding: 6px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
}

.emit-button:pressed {
    -fx-font: 24px 'VT323', monospace;
    -fx-alignment: center;
    -fx-text-fill: #1e2429;
    -fx-padding: 6px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #396c03;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 5, 5);
}

.action-button {
    -fx-padding: 10px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #c0c5ce;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
}

.action-button:hover {
    -fx-padding: 10px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
}

.action-button:pressed {
    -fx-padding: 10px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #396c03;
    -fx-border-width: 5px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 5, 5);
}

.right-screen {
    -fx-pref-width: 810;
    -fx-pref-height: 455;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

.right-screen-warrant {
    -fx-pref-width: 810;
    -fx-pref-height: 455;
    -fx-background-color: #1e2429;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
    -fx-alignment: center;
}

.clue-label {
    -fx-font: 36px 'VT323', monospace;
    -fx-text-fill: #c0c5ce;
    -fx-padding: 20px;
    -fx-wrap-text: true;
}

.time-label {
    -fx-font: 24px 'VT323', monospace;
    -fx-text-fill: #c0c5ce;
}

.city-label {
    -fx-font: 30px 'VT323', monospace;
    -fx-text-fill: #c45a12;
}

.name-label {
    -fx-font: 20px 'VT323', monospace;
    -fx-text-fill: #c0c5ce;
}

.cities-label {
    -fx-font: 30px 'VT323', monospace;
    -fx-text-fill: #c45a12;
    -fx-text-alignment: center;
}

.welcome-label {
    -fx-font: 25px 'VT323', monospace;
    -fx-text-fill: #1e2429;
    -fx-wrap-text: true;
}

.connections-label {
    -fx-font: 24px 'VT323', monospace;
    -fx-alignment: center;
    -fx-text-fill: #1e2429;
    -fx-padding: 8px 100px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #c0c5ce;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
    -fx-max-width: 420px;
}

.feature-select {
    -fx-alignment: center;
    -fx-font: 20px 'VT323', monospace;
    -fx-text-fill: #1e2429;
    -fx-padding: 2px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #c0c5ce;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
    -fx-pref-width: 300px;
    -fx-max-height: 5px;
    -fx-prompt-text-fill: #000000;
}

.feature-select:hover {
    -fx-alignment: center;
    -fx-font: 20px 'VT323', monospace;
    -fx-text-fill: #1e2429;
    -fx-padding: 2px;
    -fx-background-radius: 0;
    -fx-background-insets: 1px;
    -fx-background-color: #dfe2e6;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, #000000, 0.2, 10, 3, 3);
    -fx-pref-width: 300px;
    -fx-max-height: 5px;
}
